.group,
.progress {
  position: relative;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(19, 24, 33, 0.4);
  backdrop-filter: blur(0.3rem);
}

.group .bar {
  position: absolute;
  left: 0rem;
  top: 0.5rem;
  bottom: 0rem;
  width: 0.6rem;
  border-radius: 0.3rem;
  z-index: 4;
}

.group .header,
.progress .header {
  position: sticky;
  top: -1px;
  padding: 1rem 1rem 1rem 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: rgba(19, 24, 33, 1);
  z-index: 3;
}

.group h4,
.progress h4 {
  margin: 0;
}

.progress h4 {
  width: calc(50% - 0.25rem);
  font-size: 1.25rem;
  display: inline-block;
}

.progress h4:last-child {
  text-align: right;
}

.mods {
  padding: 0 0.5rem 0.5rem 1rem;
  font-size: 1rem;
  overflow: hidden;
}

.mods .mod {
  position: relative;
  min-height: 4rem;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}

.mods .mod:hover {
  background-color: rgba(69, 91, 122, 0.2);
}

.mods .mod img {
  width: 2.75rem;
  height: 2.75rem;
  margin-right: 0.75rem;
  border-radius: 0.25rem;
  object-fit: cover;
  transition: filter ease-out 0.2s;
}

.mods .mod .image-name {
  display: flex;
  align-items: center;
  margin: 0.25rem 0;
  flex: 5;
  text-decoration: none;
  color: #eaeef1 !important;
}

.mods .mod .image-name:hover {
  color: #e7bd78 !important;
}

.mods .mod .image-name:hover .author {
  color: #e7bc787f !important;
}

.mods .mod .image-name:hover img {
  filter: brightness(1.25) contrast(0.8);
}

.mods .mod .note {
  font-size: 1.15rem;
  flex: 7;
  margin: 0.25rem;
  color: #d5dade;
}

.mods .mod .meta {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 1rem;
  margin: 0;
  color: #a7b3c3;
}

.mods .mod .meta > div {
  width: 100%;
  position: relative;
}

.mods .mod .meta div.id {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.mods .mod .buttons {
  opacity: 0;
  transition: opacity ease-out 0.2s;
}

.mods .mod:hover .buttons {
  opacity: 1;
}

.mods .mod .name-author {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.mods .mod .name {
  font-size: 1.25rem;
  font-weight: 800;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 0.5rem;
}

.mods .mod .name .label {
  margin: 0;
}

.mods .mod .author {
  font-size: 0.8rem;
  margin: 0;
  color: #8d97a4;
  transition: background-color ease-out 0.2s, color ease-out 0.2s, box-shadow ease-out 0.2s;
}

.mods .mod .author svg {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0;
}

.mods .mod a.button {
  font-size: 0.75rem;
  margin: 0;
  padding: 0.25rem 0.4rem;
  border-radius: 0.3rem;
  min-height: revert;
  justify-content: space-between;
  --buttonColor1: rgba(63, 81, 106, 0.3);
  --buttonColor2: rgba(69, 91, 122, 0.3);
}

.mods .mod a.button:hover {
  --buttonColor1: #3f516a;
  --buttonColor2: #455b7a;
}

.mods .mod a.button.skyve:active {
  --buttonColor1: #c88c42;
  --buttonColor2: #df9943;
}

.mods .mod a.button.pdx:active {
  --buttonColor1: #51b56a;
  --buttonColor2: #36965b;
  box-shadow: rgba(106, 248, 170, 0.25) 0 0 0.6rem 0.2rem;
}

.mods .mod .button img {
  width: 0.85rem;
  height: auto;
  margin-right: 0.35rem;
}

.mods .mod:not(:last-child) {
  border-bottom: 0.1rem solid #354255;
}

.group-info .bar,
.group-info .header,
.bar .info,
label.info {
  background-color: rgb(49, 178, 49);
}

.group-broken .bar,
.group-broken .header,
.bar .broken,
label.broken {
  background-color: rgb(175, 15, 45);
}

.group-attentionrequired .bar,
.group-attentionrequired .header,
.bar .attentionrequired,
label.attentionrequired {
  background-color: rgb(206, 97, 39);
}

.group-caution .bar,
.group-caution .header,
.bar .caution,
.label.caution {
  background-color: rgb(189, 157, 63);
}

.group-obsolete .bar,
.group-obsolete .header,
.bar .obsolete,
label.obsolete {
  background-color: rgb(85, 130, 152);
}

.progress .bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.progress .bar > div:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.progress .bar > div:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.progress small {
  display: block;
  text-align: right;
  margin: 0.5rem 1rem 0 0;
}

.progress .progress-count {
  display: flex;
  justify-content: space-between;
}

.progress p {
  margin: 0 1rem 0.5rem 1rem;
}

.progress p:last-child {
  text-align: right;
  margin-left: 0;
}

.progress .bar > div {
  height: 2rem;
}

@media (max-width: 1500px) {
  .mods .mod .meta {
    font-size: 0.85rem;
  }

  .mods .mod .meta div.id {
    min-height: 0.85rem;
  }

  .mods .mod .buttons {
    font-size: 0.85rem;
  }

  .mods .mod .note {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .mods .mod .name {
    font-size: 1rem;
  }

  .mods .mod .author {
    font-size: 0.7rem;
  }

  .mods .mod .note {
    font-size: 0.85rem;
  }

  .mods .mod .meta {
    width: 9rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .mods {
    font-size: 0.8rem;
  }

  .mods .mod {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.25rem;
    padding-right: 0.25rem;
  }

  .mods .mod img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }

  .mods .mod .name-author {
    margin-bottom: 0.25rem;
  }

  .mods .mod .name {
    font-size: 1rem;
    margin-bottom: 0.15rem;
  }

  .mods .mod .note {
    font-size: 0.9rem;
    margin: 0 0.5rem 0.25rem 0;
  }

  .mods .mod .note.empty {
    display: none;
  }

  .mods .mod .meta {
    font-size: 0.75rem;
    width: 100%;
  }

  .mods .mod .meta div.id {
    min-height: 1rem;
  }

  .mods .mod .author {
    font-size: 0.6rem;
  }

  .mods .mod .author svg {
    width: 0.6rem;
    height: 0.6rem;
  }

  .mods .mod .buttons {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
  }

  .mods .mod .button {
    font-size: 0.7rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.4rem;
  }

  .progress h4 {
    width: 100%;
    font-size: 1rem;
  }

  .progress h4:first-child {
    margin-bottom: 01rem;
  }

  .progress p {
    font-size: 0.8rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
  }

  .progress small {
    font-size: 0.7rem;
    margin-right: 0.5rem;
  }
}
